<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign-up user</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="form-group">
            <mat-label>Title</mat-label>
            <input matInput class="form-control" formControlName="title">
            <mat-error *ngIf="formGroup.get('title')?.touched && formGroup.get('title')?.errors?.required">
              <span>Title is required</span></mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-group">
            <mat-label>Name</mat-label>
            <input matInput class="form-control" formControlName="name">
            <mat-error *ngIf="formGroup.get('name')?.touched && formGroup.get('name')?.errors?.required">
              <span>Name is required</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="form-group">
            <mat-label>Surname</mat-label>
            <input matInput class="form-control" formControlName="surname">
            <mat-error *ngIf="formGroup.get('surname')?.touched && formGroup.get('surname')?.errors?.required">
              <span>Surname is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-group">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" type="number" class="form-control">
            <mat-error *ngIf="formGroup.get('phone')?.touched && formGroup.get('phone')?.invalid">
              <span *ngIf="formGroup.get('phone')?.errors?.required">Phone is required</span>
              <span *ngIf="formGroup.get('phone')?.errors?.pattern">Invalid phone number</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="form-group">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" class="form-control">
            <mat-error *ngIf="formGroup.get('email')?.touched && formGroup.get('email')?.invalid">
              <span *ngIf="formGroup.get('email')?.errors?.required">Email is required</span>
              <span *ngIf="formGroup.get('email')?.errors?.pattern">Invalid email address</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-group">
            <mat-label>Address</mat-label>
            <input matInput type="text" class="form-control" formControlName="address">
            <mat-error *ngIf="formGroup.get('address')?.touched && formGroup.get('address')?.errors?.required">
              <span>Address is required</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="form-group">
            <mat-label>Password</mat-label>
            <input matInput type="password" class="form-control" formControlName="password">
            <mat-error *ngIf="formGroup.get('password')?.touched && formGroup.get('password')?.invalid">
              <span *ngIf="formGroup.get('password')?.errors?.required">Password is required</span>
              <span *ngIf="formGroup.get('password')?.errors?.pattern">Invalid password</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-checkbox formControlName="agree"> I Agree to Privacy Policy</mat-checkbox>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!formGroup.valid" color="primary">Sign up</button>
    </mat-card-actions>
  </mat-card>
</form>
<app-alert></app-alert>

